// Text Colors
$text1: #d7ba7d;
$text2: #ce9178;
$textParagraphDark: #343434;
$textParagraphLight: #cccccc;
$textHighlight : hsl(120, 100%, 50%);

//Background Colors
$bgColor1 : rgb(31, 31, 31);         
$bgColor2 : rgb(24, 24, 24);          

// Menu Colors
$menuButtonColor :hsl(0, 39%, 53%);     // Button background (icon is by svg, can be changed with filter)
$menuBgColor : hsl(0, 76%, 60%);        // Pop-in menu background color

// Fonts
$fontMain : system-ui, sans-serif;
$fontTypewriter : system-ui, sans-serif;

// Breakpoints
$breakpointTablet: 800px;
$breakpointPhone: 400px;

// Base element defaults
h1 {
    color: $text1;
}

h2 {
    color: $text2;
}

h3 {
    color: $text1;
}

p {
    color: $textParagraphLight;
}

a {
    text-decoration: none;
}