body {
background-color: #D4E2D4;
margin: 0;
padding: 0;
position: relative;
}


.nav-open button {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 40px;
    margin: 15px;
    padding: 15px 20px;
    color: #FCF8E8;

    background-color: #DF7861;
    border-radius: 40%;
}

#menu-overlay {
    position: fixed;
    top: -100%;
    left: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
    transition: 1s;
    transform: rotate(0)
}

#menu-overlay a {
    margin: 0;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #DF7861;
}

.content {
    height: 200vh;
}

