#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        max-width: 400px
    }
}

#developer {
    padding: 1rem;

    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 0.5rem;
    }


    @media screen and (max-width: $breakpoint-tablet) {
        flex-direction: column;
        padding-top: unset;
    }

    .developer-content {
        width: 100%;
        display: flex;
        gap: 3rem;

        @media screen and (max-width: $breakpoint-tablet) {
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 5rem;
        }
    }

    .profile-image {
        flex: 1 1 100%;

        @media screen and (max-width: $breakpoint-tablet) {
            min-height: 50vh;
        }

        background-image: url('/assets/images/profile-pic.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        span {
            color: var(--color-font-main);
            padding: 0.5rem;
            position: fixed;
            bottom: 0;
            right: 0;
        }
    }

    .tech-stack {
        min-width: 300px;

        >div {
            padding-top: 0.5rem;
        }

        ul {
            list-style-position: inside;
            margin: 0;
            padding: 0;
        }

        li {
            color: var(--color-font-main);
        }
    }
}